SetEnv APPLICATION_ENV development

RewriteEngine On
RewriteCond %{HTTP_HOST} ^zugefangzi\.com
RewriteRule ^(.*)$ http://www.zugefangzi.com/$1 [R=permanent,L] 

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule !\.(js|ico|gif|jpg|png|css|html)$ /index.php [NC,L]

